 .menu{
   
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-top:3.2rem; 
 

    
 }

 .menuLink{
 
   display : inline-flex;
   align-items: center; 
   justify-content: center;
   text-decoration:none; 
   background-color: var(--primary);
   color: var(--text-over-primary);
   transition: all 0.1s ease-in-out;
   padding: 1.2rem;
   border-radius: 0.8rem;

 }

.menuLink:hover{
      filter:brightness(80%);
  
}


.menuLink svg {
   width: 2.4rem;
   height: 2.4rem;

}