.cycles{
   display :flex;
   justify-content: center;
   align-items: center;
   gap: 1.6rem; 
   flex-direction: column; 

}

.cycleDots{
   display:flex; 
   gap : 0.8rem
}


.cycleDot{

    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;

}

.workTime{
    background-color: var(--warning); 
}

.shorBreakTime{
    background: var(--primary);

}

.longBreakTime{
    background : var(--info); 
}